:root {
    --white-color: #fff;
    --text-color: #333;
    --primary-color: rgb(25, 126, 181);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.player {
    position: relative;
    top: 0;
    max-width: 500px;
    margin: 0 auto;
}

.dashboard {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 500px;
    border: 10px solid rgba(25, 126, 181, 0.3);
    padding: 32px 16px;
    z-index: 1;
    background-color: var(--white-color);
}

.cd {
    max-width: 200px;
    margin: 0 auto;
    transition: all ease;
}

.cd-thumb {
    padding-top: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
}

header {
    margin-top: 20px;
    color: var(--primary-color);
    text-align: center;
}

header h2 {
    font-size: 30px;
    font-weight: 900;
}

header h4 {
    margin: 6px 0;
}

.progress {
    -webkit-appearance: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.time {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
}

.progress-input {
    width: 100%;
    opacity: 0.5;
    cursor: pointer;
}

.control {
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 0;
    align-items: center;
}

.btn {
    font-size: 30px;
    color: #666;
    cursor: pointer;
}

.btn.active {
    color: var(--primary-color);
}

.back-btn {}

.toggle-play-btn {
    width: 60px;
    height: 60px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}

.toggle-play-btn.playing .pause-icon {
    display: block;
}

.toggle-play-btn.playing .play-icon {
    display: none;
}

.btn .pause-icon {
    display: none;
}

.next-btn {}

.random-btn {}

.playlist {
    padding: 20px 20px 16px;
    background-color: rgba(25, 126, 181, 0.3);
    margin-top: 495px;
}

.song {
    display: flex;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: var(--white-color);
    padding: 4px 0;
}

.song.active {
    background-color: #062231;
    color: var(--white-color);
}

.song-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.song-details {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.name {
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 4px;
}

.singer {
    font-size: 13px;
}